*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
header{
    background-color: #1e3c72;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    height:50vh;
}
html{
    scroll-behavior: smooth;
}
header .buttonx{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
header .button1{
    padding: 12px 24px;
    border-radius: 50px;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}
header .button2{
    padding: 12px 24px;
    border-radius: 50px;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}
header .image-a{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white; 
}
.logo{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 30px;
}
.contact-info{
    display: flex;
    gap: 15px;
}
/****section message***/
.cadre-message{
    padding: 40px 0 80px;
}
.section-titre{
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 12px 0 25px;
    border: 12px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.12);
}
.section-titre::after{
    content: "";
    width: 100px;
    height: 5px;
    display: block;
    background-color: #1e3c72;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 10px auto 0;
}
.message{
   justify-content: center;
   align-items: center;
    padding: 35px;
    width: 100%;
    border-radius:12px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    height: 200px;
    margin: 0 auto 30px;
    max-width: 83%;
    /*text*/
    text-align: center;
}
.message{
    display: none;
}
.text-de-message{
    font-size: 20px;
    padding: 10px;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 29px;
    cursor: pointer;
    color: #fff;
}
footer{
    background-color: #1e3c72;
    align-items: center;
    font-size: 20px;
    color: white;
    height: 70px;
}
.footer-texte{
  padding:25px;
  text-align: center;
}
@media screen and (max-width:900px) {
    .message{
        width: 100%;
        height: 450px;
        font-size: 10px;
    }
}